.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://picsum.photos/seed/picsum/1024/400");
  height: 600px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://picsum.photos/seed/picsum/1024/400");
  height: 600px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://picsum.photos/seed/picsum/1024/400");
  height: 600px;
}
